<nav class="navbar">
    <div class="logo">DLSU FORUM</div>
    <div class="searchbar">
        <input type="text" placeholder="Search for a post!">
    </div>
    <ul class="navlinks">
        <li><a href="/">Home</a></li>
        <li><a href="javascript:void(0)" onclick="toggleCategoriesbar()">Categories</a></li>
        <li><a href="javascript:void(0)" onclick="toggleMembersbar()">Members</a></li>
        <li><a href="javascript:void(0)" onclick="toggleProfilebar()">Profile</a></li>
        {{#if currentUser}}
            {{#if (eq currentUser.role "admin")}}
            <li><a href="/admin" style="color: #ff6b6b; font-weight: bold;">Admin Panel</a></li>
            {{/if}}
<<<<<<< Updated upstream
=======
            {{#if (eq currentUser.role "manager")}}
            <li><a href="/manager" style="color: #ff6b6b; font-weight: bold;">Manager Panel</a></li>
            {{/if}}
>>>>>>> Stashed changes
            <li><a href="/change-password">Change Password</a></li>
        {{/if}}
    </ul>
</nav>